{% extends "SonataAdminBundle:CRUD:base_show.html.twig" %}

{% block navbar_title %}{{ 'admin.audit.generate' | trans }} {{ object.name }}{% endblock %}

{% block sonata_admin_content %}
<div class="sonata-ba-show">
    <div class="sonata-ba-view row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="box-body table-responsive no-padding">
                        {% if form.year.vars.label is defined %}
                            {{ form_start(form) }}
                                <div class="col-xs-2">
                                    {{ form_row(form.audit_status) }}
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.year) }}
                                    {{ form_row(form.dates_range) }}
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.generate, {attr: {style: 'margin-top:25px;'}}) }}
                                    {{ form_rest(form) }}
                                </div>
                                {% if show_download_pdf_button is defined and show_download_pdf_button and audits is defined and audits | length > 0 %}
                                    <div class="col-xs-6 text-right">
                                        <a href="{{ path('admin_app_windfarm_pdfAttachment', {id: object.id}) }}?year={{ year }}{% if form.audit_status.vars.value %}&audit_status={{ form.audit_status.vars.value | join('-') }}{% endif %}{% if form.dates_range.vars.value['start'] %}&date_range_start={{ form.dates_range.vars.value['start'] | date('d-m-Y') }}{% endif %}{% if form.dates_range.vars.value['end'] %}&date_range_end={{ form.dates_range.vars.value['end'] | date('d-m-Y') }}{% endif %}" class="btn btn-warning" style="margin-top:25px;"><i class="fa fa-cloud-download"></i> {{ 'admin.windfarm.download_pdf' | trans }}</a>
                                    </div>
                                {% endif %}
                            {{ form_end(form) }}
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                <i class="fa fa-exclamation-triangle"></i> {{ 'admin.windfarm.no_audits' | trans }}.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if audits is defined and audits | length > 0 %}
    <div class="sonata-ba-show">
        <div class="sonata-ba-view row">
            <div class="col-xs-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.3_country' | trans }}</th>
                                <td>{{ object.state.countryName }} ({{ object.state.name }})</td>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.4_windfarm' | trans }}</th>
                                <td>{{ object.name }}</td>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.5_turbine_model' | trans }}</th>
                                <td>{{ turbines | join(', ') }}</td>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.6_turbine_size' | trans }}</th>
                                <td>{{ turbine_models | join(', ') }}</td>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.7_blade_type' | trans }}</th>
                                <td>{{ blades | join(', ') }}</td>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.8_total_turbines' | trans }}</th>
                                <td>{{ 'pdf.cover.8_total_turbines_value' | trans({'%windmills%': object.windmillAmount, '%power%': object.power}) }}</td>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.9_startup_year' | trans }}</th>
                                <td>{{ 'pdf.cover.9_startup_year_value' | trans({'%year%': object.year, '%diff%': object.yearDiff}) }}</td>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.10_om_regional_manager' | trans }}</th>
                                <td>{{ object.managerFullname }}</td>
                            </tr>
                            <tr>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.11_technicians' | trans }}</th>
                                <td>{{ technicians | join(', ') }}</td>
                            </tr>
                            <tr>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.12_audit_type' | trans }}</th>
                                <td>{{ audit_types | join(', ') }}</td>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf.cover.13_audit_date' | trans }}</th>
                                <td>{{ audit_dates | join(' · ') }}</td>
                            </tr>
                            <tr>
                                <th class="text-right" style="background-color:#8FABD9;">{{ 'pdf_windfarm.cover.14_blades_amout' | trans }}</th>
                                <td>{{ 'pdf_windfarm.cover.14_blades_amout_value' | trans({'%audits_amount%': audits | length}) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sonata-ba-show">
        <div class="sonata-ba-view row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="10">{{ 'pdf.damage_table_header.9_excel_title' | trans({'%name%': object.name | upper}) }} {{ year }}</th>
                            </tr>
                            <tr>
                                <th rowspan="2" class="text-center" style="background-color:#8FABD9;border-right:2px solid #f4f4f4;vertical-align:middle;">WTG</th>
                                <th rowspan="2" class="text-center" style="background-color:#8FABD9;border-right:2px solid #f4f4f4;vertical-align:middle;">{{ 'pdf.damage_table_header.10_blade' | trans }}</th>
                                <th colspan="{{ damage_categories | length }}" class="text-center" style="background-color:#8FABD9;border-right:2px solid #f4f4f4;">{{ 'pdf.damage_table_header.damage_class' | trans }}</th>
                            </tr>
                            <tr>
                                {% for damage_category in damage_categories %}
                                    <th class="text-center" style="background-color:{{ damage_category.colour }};border-right:2px solid #f4f4f4;">{{ damage_category.category }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% set total_records_displayed = 0 %}
                            {% for audit in audits %}
                                {% set total_records_displayed = total_records_displayed + 1 %}
                                <tr>
                                    <td rowspan="4" class="text-center" style="vertical-align:middle;border-right:2px solid #f4f4f4;">{% if app.environment == 'dev' %}{{ audit.id }} · {{ audit.windmill.shortAutomatedCode }}{% else %}{{ audit.windmill.code }}{% endif %}</td>
                                </tr>
                                {% for auditWindmillBlade in audit.auditWindmillBlades %}
                                    <tr>
                                        <td class="text-center" style="border-right:2px solid #f4f4f4;">{{ loop.index }}</td>
                                        {% for damage_category in damage_categories %}
                                            <td class="text-center" style="{% if mark_damage_category(damage_category, auditWindmillBlade) %}background-color:{{ damage_category.colour }};{% endif %}{% if not loop.last %}border-right:2px solid #f4f4f4;{% endif %}">{{ mark_damage_category(damage_category, auditWindmillBlade) }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="10">{{ 'admin.windfarm.table.results.found' | trans }}: {{ total_records_displayed }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="sonata-ba-show">
        <div class="sonata-ba-view row">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    <h5><i class="fa fa-warning"></i> {{ 'admin.windfarm.table.results.found' | trans }}: 0</h5>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
