{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block sonata_admin_content %}
<div class="sonata-ba-show">
    <div class="sonata-ba-view row">
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title"><strong>Enviar inpecció núm. {{ object.id }} per email</strong></h4><br>
                    <h4 class="box-title" style="margin-bottom:40px">{{ object }}</h4>
                    <div class="box-body table-responsive no-padding">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title" style="margin-bottom:40px">PDF</h4><br>
                    <div class="box-body table-responsive no-padding">
                        <iframe id="viewer" src="{{ asset('bundles/app/js/viewer-js/index.html') }}#{{ pdf_short_path }}" width="100%" height="800"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
