<div class="box-body">
    {% if object.deliveryNotes | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">{{ 'admin.deliverynote.date' | trans }}</th>
                    <th class="text-center">{{ 'admin.deliverynote.repair_windmill_sections_short' | trans }}</th>
                    <th>{{ 'admin.deliverynote.team_leader' | trans }}</th>
                    <th>{{ 'admin.deliverynote.team_technician_1' | trans }}</th>
                    <th>{{ 'admin.deliverynote.team_technician_2' | trans }}</th>
                    <th>{{ 'admin.vehicle.title' | trans }}</th>
                    <th>{{ 'admin.deliverynote.crane_company' | trans }}</th>
                    <th class="text-center">{{ 'admin.deliverynote.repair_access_types' | trans }}</th>
                    {% if show_edit_button is defined and show_edit_button %}
                        <th class="text-right">{{ 'admin.common.action' | trans }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for deliveryNote in object.deliveryNotes %}
                <tr>
                    <td class="text-center">{{ deliveryNote.getDate().format('d/m/Y') }}</td>
                    <td class="text-center">
                        {% for repairWindmillSection in deliveryNote.repairWindmillSectionsStringsArray %}
                            <span class="label label-default">{{ repairWindmillSection | trans }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ deliveryNote.getTeamLeader }}</td>
                    <td>{{ deliveryNote.getTeamTechnician1 }}</td>
                    <td>{{ deliveryNote.getTeamTechnician2 }}</td>
                    <td>{{ deliveryNote.getVehicle }}</td>
                    <td>{{ deliveryNote.getCraneCompany }}</td>
                    <td class="text-center">
                        {% for repairAccessType in deliveryNote.repairAccessTypesStringsArray %}
                            <span class="label label-default">{{ repairAccessType | trans }}</span>
                        {% endfor %}
                    </td>
                    {% if show_edit_button is defined and show_edit_button %}
                        <td class="text-right">
                            <a href="{{ path('admin_app_deliverynote_edit', {id: deliveryNote.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> {{ 'admin.common.edit' | trans }}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            {% if show_edit_button is defined and show_edit_button %}
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-right">
                            <a href="{{ path('admin_app_deliverynote_create') }}" class="btn btn-xs btn-primary"><i class="fa fa-plus-circle"></i> {{ 'admin.common.add' | trans }}</a>
                        </td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-warning"></i> {{ 'admin.deliverynote.no_records' | trans }}
        </div>
        <a href="{{ path('admin_app_deliverynote_create') }}?for_work_order={{ object.id }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ 'admin.deliverynote.new' | trans }}</a>
    {% endif %}
</div>
