<table class="table">
    <thead>
        <tr>
            <th>{{ 'admin.workordertask.wtg' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.blade' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.blade_code' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.damage' | trans }}</th>
            <th class="text-center">{{ 'admin.bladedamage.position' | trans }}</th>
            <th class="text-right">{{ 'admin.workordertask.radius' | trans }}</th>
            <th class="text-right">{{ 'admin.workordertask.distance' | trans }}</th>
            <th class="text-right">{{ 'admin.workordertask.size' | trans }}</th>
            <th>{{ 'admin.workordertask.description' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.team' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.is_completed' | trans }}</th>
            {% if object.isFromAudit %}
                <th class="text-center">{{ 'admin.auditwindmillblade.audit' | trans }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for workOrderTask in object.workOrderTasks %}
        <tr>
            <td>{{ workOrderTask.windmill.code }}</td>
            <td class="text-center">{{ workOrderTask.windmillBlade }}</td>
            <td class="text-center">{{ workOrderTask.windmillBlade.code }}</td>
            <td class="text-center">{% if workOrderTask.bladeDamage %}{{ workOrderTask.bladeDamage.calculatedNumberByRadius }}{% else %}---{% endif %}</td>
            <td class="text-center">{{ workOrderTask.positionString }}</td>
            <td class="text-right">{{ workOrderTask.radius }} m</td>
            <td class="text-right">{{ workOrderTask.distance }} cm</td>
            <td class="text-right">{{ workOrderTask.size }} cm</td>
            <td>{{ workOrderTask.description }}</td>
            <td class="text-center">---{# TODO write WorkOrderTask team #}</td>
            <td class="text-center">
                {% if workOrderTask.isCompleted %}
                    <span class="label label-success">Si</span>
                {% else %}
                    <span class="label label-danger">No</span>
                {% endif %}
            </td>
            {% if object.isFromAudit %}
                <td class="text-center">
                    {% if workOrderTask.isFromAudit %}
                        <span class="label label-success">Si</span>
                    {% else %}
                        <span class="label label-danger">No</span>
                    {% endif %}
                </td>
            {% endif %}
            {# TODO render WorkOrderTask photos #}
        </tr>
    {% endfor %}
    </tbody>
</table>
