<table class="table">
    <thead>
        <tr>
            <th>{{ 'admin.workordertask.wtg' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.blade' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.blade_code' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.damage' | trans }}</th>
            <th class="text-center">{{ 'admin.bladedamage.position' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.radius' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.distance' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.size' | trans }}</th>
            <th>{{ 'admin.workordertask.description' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.team' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.is_from_audit' | trans }}</th>
            <th class="text-center">{{ 'admin.workordertask.is_completed' | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for workOrderTask in object.workOrderTasks %}
        <tr>
            <td>{{ workOrderTask.windmill.code }}</td>
            <td class="text-center">{{ workOrderTask.windmillBlade }}</td>
            <td class="text-center">{{ workOrderTask.windmillBlade.code }}</td>
            <td class="text-center">{{ workOrderTask.bladeDamage }}</td>
            <td class="text-center">{{ workOrderTask.positionString }}</td>
            <td class="text-center">{{ workOrderTask.radius }} m</td>
            <td class="text-center">{{ workOrderTask.distance }} cm</td>
            <td class="text-center">{{ workOrderTask.size }} cm</td>
            <td>{{ workOrderTask.description }}</td>
            <td class="text-center">---{# TODO write WorkOrderTask team #}</td>
            <td class="text-center">
                {% if workOrderTask.isFromAudit %}
                    <span class="label label-success">Si</span>
                {% else %}
                    <span class="label label-danger">No</span>
                {% endif %}
            </td>
            <td class="text-center">
                {% if workOrderTask.isCompleted %}
                    <span class="label label-success">Si</span>
                {% else %}
                    <span class="label label-danger">No</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
