{% if object.timeRegisters | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'admin.deliverynotetimeregister.type' | trans }}</th>
                <th>{{ 'admin.deliverynotetimeregister.shift' | trans }}</th>
                <th>{{ 'admin.deliverynotetimeregister.comment' | trans }}</th>
                <th class="text-center">{{ 'admin.deliverynotetimeregister.begin' | trans }}</th>
                <th class="text-center">{{ 'admin.deliverynotetimeregister.end' | trans }}</th>
                <th class="text-right">{{ 'admin.deliverynotetimeregister.total_hours' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for timeRegister in object.timeRegisters %}
            <tr>
                <td>{{ timeRegister.getTypeString | trans }}</td>
                <td>{{ timeRegister.getShiftString | trans }}</td>
                <td>{{ timeRegister.comment }}</td>
                <td class="text-center">{{ timeRegister.begin.format('H:i') }}</td>
                <td class="text-center">{{ timeRegister.end.format('H:i') }}</td>
                <td class="text-right">{{ timeRegister.totalHoursString }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="box-body">
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-warning"></i> {{ 'admin.deliverynotetimeregister.no_records' | trans }}
        </div>
    </div>
{% endif %}
