<table class="table">
    <thead>
        <tr>
            <th class="text-right">{{ 'admin.nonstandardusedmaterial.quantity' | trans }}</th>
            <th>{{ 'admin.nonstandardusedmaterial.item' | trans }}</th>
            <th>{{ 'admin.nonstandardusedmaterial.description' | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for nonStandardUsedMaterial in object.nonStandardUsedMaterials %}
        <tr>
            <td class="text-right">{{ nonStandardUsedMaterial.quantity }}</td>
            <td>{{ nonStandardUsedMaterial.itemString | trans }}</td>
            <td>{{ nonStandardUsedMaterial.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
