{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-primary">
        <div class="box-header">
            <h2 class="box-title">{{ 'admin.workorder.block_title_list' | trans }}</h2>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-bordered table-striped table-hover sonata-ba-list">
                <thead>
                <tr class="sonata-ba-list-field-header">
                    <th>{{ 'admin.workorder.project_number_short' | trans }}</th>
                    <th>{{ 'admin.windfarm.customer' | trans }}</th>
                    <th>{{ 'admin.workorder.windfarms' | trans }}</th>
                    <th class="text-center">{{ 'admin.workorder.repair_access_types' | trans }}</th>
                    <th class="text-center">{{ 'admin.audit.status' | trans }}</th>
                    <th class="text-right">{{ 'admin.common.action' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for work_order in not_finished_work_orders %}
                    <tr>
                        <td>{{ work_order.projectNumber }}</td>
                        <td>{{ work_order.customer }}</td>
                        <td>{{ work_order.windfarmsString }}</td>
                        <td class="text-center">
                            {% for repairAccessType in work_order.repairAccessTypesStringsArray %}
                                <span class="label label-default"{% if loop.index > 1%} style="margin-left:5px"{% endif %}>{{ repairAccessType | trans }}</span>
                            {% endfor %}
                        </td>
                        <td class="text-center">{{ work_order | draw_work_order_status_label | raw }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="{{ path('admin_app_workorder_show', {id: work_order.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'admin.audit.title_show' | trans }}"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('admin_app_deliverynote_create', {for_work_order: work_order.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'admin.workertimesheet.title_create' | trans }} {{ 'admin.deliverynote.title_new' | trans }}"><i class="fa fa-plus-circle"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('admin_app_deliverynote_create') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ 'admin.deliverynote.title_create' | trans }} {{ 'admin.deliverynote.title_new' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
