{% extends "Admin/edit.html.twig" %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var customerNode = jQuery('#sonata-ba-field-container-{{ form.customer.vars.id }}');
            var customerTrueSelectNode = jQuery('#{{ form.customer.vars.id }}');
            {#var auditNode = jQuery('#sonata-ba-field-container-{{ form.audit.vars.id }}');#}
            {#var auditTrueSelectNode = jQuery('#{{ form.audit.vars.id }}');#}
            {#var isFromAuditNode = jQuery('#{{ form.isFromAudit.vars.id }}');#}
            // on Customer change
            customerNode.change(function(event) {
                var customerId = event.val;
                updateAuditNodeByCustomer(customerId, auditTrueSelectNode);
            });
            // $(isFromAuditNode).on('ifUnchecked', function() {
            //     auditNode.addClass('hidden');
            // });
            // $(isFromAuditNode).on('ifChecked', function() {
            //     auditNode.removeClass('hidden');
            // });
            // initializing
            if (isFromAuditNode.prop('checked')) {
                auditNode.removeClass('hidden');
            } else {
                auditNode.addClass('hidden');
            }
            if (customerTrueSelectNode.val() > 0) {
                updateAuditNodeByCustomer(customerTrueSelectNode.val(), auditTrueSelectNode);
            }
        });
        function updateAuditNodeByCustomer(customerId, auditTrueSelectNode) {
            jQuery.get(Routing.generate('admin_app_customer_getAuditsFromCustomerId', {id: customerId}), function() {
            }).done(function (response) {
                var jsonResonse = jQuery.parseJSON(response);
                auditTrueSelectNode.html(jsonResonse.htmlOptionStringData);
                // TODO be careful in EDIT mode (previously Audit maybe selected when WorkOrder is from Audit)
                if (jsonResonse.data.length > 0) {
                    auditTrueSelectNode.val(jsonResonse.data[0].id).trigger('change.select2');
                } else {
                    auditTrueSelectNode.html('<option value="-1">---</option>');
                    auditTrueSelectNode.val(-1).trigger('change.select2');
                }
            });
        }
    </script>
{% endblock %}
