{% extends "Admin/edit.html.twig" %}

{% block body_attributes %}class="sonata-bc skin-black fixed sidebar-collapse"{% endblock %}

{% block sonata_tab_content %}
    {{ parent() }}
    {% if admin.id(object) %}
        {# edit mode #}
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">{{ 'admin.deliverynote.title' | trans }}</h4>
                </div>
                {% include "Admin/Cells/list__delivery_notes.html.twig" with {show_edit_button: true} %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        jQuery(document).ready(function() {
            let customerNode = jQuery('#{{ form.customer.vars.id }}');
            customerNode.on('change', function(event) {
                updateWindfarmNodeBySelectedCustomerId(event.val);
            });
            {% if admin.id(object) %}
                {# edit mode #}
                {% if object.workOrderTasks | length > 0 %}
                    fixWorkOrderTasksColumnWidths();
                    let workOrderTasksAmount = jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[1].childElementCount;
                    let windmillNodes = [];
                    console.log('edit mode', workOrderTasksAmount);
                    for (let i = 0; i < workOrderTasksAmount; i++) {
                        windmillNodes[i] = jQuery('#{{ form.workOrderTasks.vars.id }}_' + i + '_windmill');
                        windmillNodes[i].change((function() {
                            let k = i;
                            return function (event) {
                                let windmillId = event.val;
                                let windmillNode = windmillNodes[k];
                                updateWindmillBladeNodeBySelectedWindmillId(windmillId, windmillNode, k, true);
                            }
                        })());
                        updateWindmillBladeNodeBySelectedWindmillId(windmillNodes[i].val(), windmillNodes[i], i, false);
                        setDropzone(i); // TODO replace 1 by ID
                    }
                {% endif %}
                jQuery(document).on('sonata.add_element', function(/*event, elementId, objectId, uniqid*/) {
                    fixWorkOrderTasksColumnWidths();
                    let workOrderTasksAmount = jQuery('#field_widget_{{ form.workOrderTasks.vars.id }}')[0].children[0].children[1].childElementCount;
                    let windmillNodes = [];
                    let windfarmsNode = jQuery('#{{ form.windfarms.vars.id }}');
                    console.log('sonata.add_element', workOrderTasksAmount);
                    for (let i = 0; i < workOrderTasksAmount; i++) {
                        windmillNodes[i] = jQuery('#{{ form.workOrderTasks.vars.id }}_' + i + '_windmill');
                        updateWindmillNodeBySelectedWindfarmsIds(windfarmsNode.val(), windmillNodes[i]);
                        windmillNodes[i].change((function() {
                            let k = i;
                            return function (event) {
                                let windmillId = event.val;
                                let windmillNode = windmillNodes[k];
                                updateWindmillBladeNodeBySelectedWindmillId(windmillId, windmillNode, k, true);
                            }
                        })());
                        updateWindmillBladeNodeBySelectedWindmillId(windmillNodes[i].val(), windmillNodes[i], i, false);
                        setDropzone(i); // TODO replace 1 by ID
                    }
                });
                function updateWindmillBladeNodeBySelectedWindmillId(windmillId, windmillNode, nodeIndex, needWindmillBladeSetToNull) {
                    jQuery.get(Routing.generate('admin_app_workorder_getWindmillbladesFromWindmillId', {id: windmillId})).done(function (response) {
                        let jsonResponse = jQuery.parseJSON(response);
                        let windmillBladeNode = jQuery('#{{ form.workOrderTasks.vars.id }}_' + nodeIndex + '_windmillBlade');
                        let windmillBladeNodeVal = parseInt(windmillBladeNode.val());
                        windmillBladeNode.empty().html(jsonResponse.htmlOptionStringData);
                        if (needWindmillBladeSetToNull) {
                            windmillBladeNode.select2('val', '');
                        } else {
                            windmillBladeNode.val(windmillBladeNodeVal);
                            windmillBladeNode.change();
                        }
                    })
                }
            {% else %}
                {# create mode (new) #}
                let selectedFirstOptionCustomerId = parseInt(jQuery('#{{ form.customer.vars.id }} option:eq(0)').prop('value'), 10);
                updateWindfarmNodeBySelectedCustomerId(selectedFirstOptionCustomerId);
            {% endif %}
        });
        function updateWindfarmNodeBySelectedCustomerId(customerId) {
            let windfarmsNode = jQuery('#{{ form.windfarms.vars.id }}');
            jQuery.get(Routing.generate('admin_app_workorder_getWindfarmsFromCustomerId', {id: customerId})).done(function (response) {
                let jsonResponse = jQuery.parseJSON(response);
                windfarmsNode.empty().html(jsonResponse.htmlOptionStringData);
                {% if not admin.id(object) %}
                    windfarmsNode.select2('val', '');
                {% endif %}
            });
        }
        function updateWindmillNodeBySelectedWindfarmsIds(selectedWindfarmsIds, windmillNode) {
            jQuery.post(Routing.generate('admin_app_workorder_getWindmillsFromSelectedWindfarmsIds', selectedWindfarmsIds)).done(function (response) {
                let jsonResponse = jQuery.parseJSON(response);
                windmillNode.empty().html(jsonResponse.htmlOptionStringData);
            });
        }
        function fixWorkOrderTasksColumnWidths() {
            {% if object.workOrderTasks | length > 0 %}
                let bor = jQuery('#field_widget_{{ form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0];
                bor.children[0].width = '5%';
                bor.children[3].width = '5%';
                bor.children[4].width = '5%';
                bor.children[5].width = '5%';
                bor.children[6].width = '5%';
                bor.children[7].width = '5%';
                bor.children[8].width = '5%';
                bor.children[11].width = '5%';
                if (bor.children[12]) {
                    bor.children[12].width = '5%';
                }
            {% endif %}
        }
        function setDropzone(index) {
            {% if object.workOrderTasks | length > 0 %}
                let myDropzone = new Dropzone('#{{ form.workOrderTasks.vars.id }}_' + index + '_multifiles', {
                    url: Routing.generate('admin_app_deliverynote_getWindfarmsFromWorkOrderId', {id: index}),
                    uploadMultiple: true,
                    maxFiles: 5,
                    thumbnailWidth: 80,
                    thumbnailHeight: 80,
                    parallelUploads: 20,
                    addRemoveLinks: true,
                    dictDefaultMessage: '<i class="fa fa-cloud-upload"></i> Arrastra aquí tus archivos.',
                    autoQueue: true
                });
            {% endif %}
        }
    </script>
{% endblock %}
