{% extends "Admin/edit.html.twig" %}

{% block body_attributes %}class="sonata-bc skin-black fixed sidebar-collapse"{% endblock %}

{% block sonata_tab_content %}
    {{ parent() }}
    {% if admin.id(object) %}
        {# edit mode #}
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">{{ 'admin.deliverynote.title' | trans }}</h4>
                </div>
                {% include "Admin/Cells/list__delivery_notes.html.twig" with {show_edit_button: true} %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            let customerNode = jQuery('#{{ form.customer.vars.id }}');
            customerNode.on('change', function(event) {updateWindfarmNodeByCustomer(event.val);});
            {% if admin.id(object) %}
                {# edit mode #}
                {% if object.workOrderTasks | length > 0 %}
                    let bor = jQuery('#field_widget_{{ form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0];
                    bor.children[0].width = '5%';
                    bor.children[3].width = '5%';
                    bor.children[4].width = '5%';
                    bor.children[5].width = '5%';
                    bor.children[6].width = '5%';
                    bor.children[7].width = '5%';
                    bor.children[8].width = '5%';
                    bor.children[10].width = '5%';
                    bor.children[11].width = '5%';
                    let workOrderTasks = jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[1].childElementCount;
                    let windmillNodes = [];
                    for (let i = 0; i < workOrderTasks; i++) {
                        windmillNodes[i] = jQuery('#{{ form.workOrderTasks.vars.id }}_' + i + '_windmill');
                        windmillNodes[i].change((function() {
                            let k = i;
                            return function (event) {
                                let windmillBladeId = event.val;
                                let windmillNode = windmillNodes[k];
                                updateWindmillBladeNodeByWindmill(windmillBladeId, windmillNode, k);
                            }
                        })());
                    }
                {% endif %}
                jQuery(document).on('sonata.add_element', function(event, elementId, objectId, uniqid) {
                    // TODO Update only the new object
                    let workOrderTasks = jQuery('#field_widget_{{ form.workOrderTasks.vars.id }}')[0].children[0].children[1].childElementCount;
                    let windmillNodes = [];
                    let windfarmsNode = jQuery('#{{ form.windfarms.vars.id }}');
                    for (let i = 0; i < workOrderTasks; i++) {
                        windmillNodes[i] = jQuery('#{{ form.workOrderTasks.vars.id }}_' + i + '_windmill');
                        updateWindmillNodeByWindfarmsBySelectedWindfarmsIds(windfarmsNode.val(), windmillNodes[i]);
                        windmillNodes[i].change((function() {
                            let k = i;
                            return function (event) {
                                let windmillBladeId = event.val;
                                let windmillNode = windmillNodes[k];
                                updateWindmillBladeNodeByWindmill(windmillBladeId, windmillNode, k);
                            }
                        })());
                    }
                });
                function updateWindmillBladeNodeByWindmill(windmillBladeId, windmillNode, i) {
                    jQuery.get(Routing.generate('admin_app_workorder_getWindmillbladesFromWindmillId', {id: windmillBladeId})).done(function (response) {
                        let jsonResponse = jQuery.parseJSON(response);
                        let windmillBladeNode = jQuery('#{{ form.workOrderTasks.vars.id }}_'+i+'_windmillBlade');
                        windmillBladeNode.empty().html(jsonResponse.htmlOptionStringData);
                    })
                }
            {% else %}
                {# create mode (new) #}
                let selectedFirstOptionCustomerId = parseInt(jQuery('#{{ form.customer.vars.id }} option:eq(0)').prop('value'), 10);
                updateWindfarmNodeByCustomer(selectedFirstOptionCustomerId);
            {% endif %}
        });
        function updateWindfarmNodeByCustomer(customerId) {
            let windfarmsNode = jQuery('#{{ form.windfarms.vars.id }}');
            jQuery.get(Routing.generate('admin_app_workorder_getWindfarmsFromCustomerId', {id: customerId})).done(function (response) {
                let jsonResponse = jQuery.parseJSON(response);
                windfarmsNode.empty().html(jsonResponse.htmlOptionStringData);
                {% if not admin.id(object) %}
                    windfarmsNode.select2('val', '');
                {% endif %}
            });
        }
        function updateWindmillNodeByWindfarmsBySelectedWindfarmsIds(selectedWindfarmsIds, windmillNode) {
            jQuery.post(Routing.generate('admin_app_workorder_getWindmillsFromSelectedWindfarmsIds', selectedWindfarmsIds)).done(function (response) {
                let jsonResponse = jQuery.parseJSON(response);
                windmillNode.empty().html(jsonResponse.htmlOptionStringData);
            });
        }
    </script>
{% endblock %}
