{% extends "Admin/edit.html.twig" %}

{% block sonata_tab_content %}
    {{ parent() }}
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">
                    Albarán
                </h4>
            </div>
            <div class="box-body">
                <div class="sonata-ba-collapsed-fields">
                    <div class="form-group">
                        <label class="  control-label"></label>
                            <div class="sonata-ba-field sonata-ba-field-inline-table">
                            <div class="field-container">
            <span>
                {% include "Admin/Cells/list__delivery_notes.html.twig" %}
            </span>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var customerNode = jQuery('#sonata-ba-field-container-{{ form.customer.vars.id }}');
            customerNode.change(function(event) {
                var customerId = event.val;
                updateWindfarmNodeByCustomer(customerId);
            });
            {% if admin.id(object) %} {# is in edit mode #}
                jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0].children[1].width = '30%';
                jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0].children[2].width = '5%';
                jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0].children[3].width = '5%';
                jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0].children[4].width = '5%';
                jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0].children[5].width = '5%';
                jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0].children[6].width = '5%';
                jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0].children[7].width = '5%';
                jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[0].children[0].children[9].width = '30%';
                var workOrderTasks = jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[1].childElementCount;
                var windmillNodes = [];
                for (i = 0; i < workOrderTasks; i++) {
                    windmillNodes[i] = jQuery('#{{ form.workOrderTasks.vars.id }}_'+i+'_windmill');
                    windmillNodes[i].change((function() {
                        var k = i;
                        return function (event) {
                            var windmillBladeId = event.val;
                            var windmillNode = windmillNodes[k];
                            updateWindmillBladeNodeByWindmill(windmillBladeId, windmillNode, k);
                        }
                    })());
                }
                $(document).on('sonata.add_element', function(event, elementId, objectId, uniqid) {
                    {#console.log('trigger is fired ');#}
                    {#console.log(event.target);#}
                    // insert here your code
                    //TODO Update only the new object
                    var workOrderTasks = jQuery('#field_widget_{{  form.workOrderTasks.vars.id }}')[0].children[0].children[1].childElementCount;
                    var windmillNodes = [];
                    for (i = 0; i < workOrderTasks; i++) {
                        windmillNodes[i] = jQuery('#{{ form.workOrderTasks.vars.id }}_'+i+'_windmill');
                        windmillNodes[i].change((function() {
                            var k = i;
                            return function (event) {
                                var windmillBladeId = event.val;
                                var windmillNode = windmillNodes[k];
                                updateWindmillBladeNodeByWindmill(windmillBladeId, windmillNode, k);
                            }
                        })());
                    }
                });
            function updateWindmillBladeNodeByWindmill(windmillBladeId, windmillNode, i) {
                var response = jQuery.get(Routing.generate('admin_app_workorder_getWindmillbladesFromWindmillId', {id: windmillBladeId}), function() {
                }).done(function (response) {
                    var jsonResponse = jQuery.parseJSON(response);
                    var windmillBladeNode = jQuery('#{{ form.workOrderTasks.vars.id }}_'+i+'_windmillBlade');
                    // TODO be careful in EDIT mode (previously Audit maybe selected when WorkOrder is from Audit)
                    while (windmillBladeNode[0].firstChild) {
                        windmillBladeNode[0].removeChild(windmillBladeNode[0].firstChild);
                    }
                    if (jsonResponse.data.length > 0) {
                        var j;
                        for (j = 0; j < jsonResponse.data.length; j++) {
                            var option = document.createElement("option");
                            option.innerText = jsonResponse.data[j].order + '(id: ' + jsonResponse.data[j].id + ')';
                            option.value = jsonResponse.data[j].id;
                            windmillBladeNode[0].appendChild(option);
                        }
                    }
                })
            }
            {% endif %}

        });
        function updateWindfarmNodeByCustomer(customerId) {
            var windfarmNode = jQuery('#sonata-ba-field-container-{{ form.windfarm.vars.id }}');
            var response = jQuery.get(Routing.generate('admin_app_workorder_getWindfarmsFromCustomerId', {id: customerId}), function() {
            }).done(function (response) {
                var jsonResponse = jQuery.parseJSON(response);
                var windfarmNodeSelector = windfarmNode[0].children[1].getElementsByTagName("select")[0];
                // TODO be careful in EDIT mode (previously Audit maybe selected when WorkOrder is from Audit)
                while (windfarmNodeSelector.firstChild) {
                    windfarmNodeSelector.removeChild(windfarmNodeSelector.firstChild);
                }
                if (jsonResponse.data.length > 0) {
                    var i;
                    for (i = 0; i < jsonResponse.data.length; i++) {
                        var option = document.createElement("option");
                        option.innerText = jsonResponse.data[i].name;
                        option.value = jsonResponse.data[i].id;
                        windfarmNodeSelector.appendChild(option);
                    }
                }
            })
            ;
        }
    </script>
{% endblock %}
